# print Hello World
this for bullot points
- A
- B
- ShortCut-->Press Esc,M, Shift+Etre-->M for markdown
- for marrkdown to code,
- Esc,Y,shift+enter---->Y for code

# Format method
# end and sep

In [3]:
my_string=("Capital of %s is %s" % ("India","Delhi"))
print(my_string)

Capital of India is Delhi

In [6]:
my_string2="Capital of {} is {}  and its located at lactitude is {} and longitude is {}".format("india","delhi",86.7,89.9)
print(my_string2)

Capital of india is delhi  and its located at lactitude is 86.7 and longitude is 89.9

In [9]:
print("Hello World!",end=" ")
print("Hello Everyone!")

Hello World! Hello Everyone!

In [10]:
print("Hello World!",sep="\n ")
print("Hello Everyone!")

Hello World!
Hello Everyone!

# Split Function
- split--> it gives us lists of function

In [14]:
spt="10 20 30 40".split()
print(spt)

['10', '20', '30', '40']

In [16]:
#converts the string list into number int
numbers= [int(num) for num in spt]
print(numbers)

[10, 20, 30, 40]

In [17]:
# Print to user list of numbers
numbers=[no  for no in input().split()]
print(numbers)

 10 20 30 40 50

['10', '20', '30', '40', '50']

In [18]:
numbers=[int(no) for no in input().split()]
print(numbers)

 20 30 40 50 60

[20, 30, 40, 50, 60]

In [21]:
l=int(input())
b=int(input())
area=l*b
perm=2*(l+b)
print("Area of Ractangle is {} and parametre is {} ".format(area,perm))
print("Area of ractanlge is %d and parameter is %d "%(area,perm))

 2
 4

Area of Ractangle is 8 and parametre is 12
Area of ractanlge is 8 and parameter is 12

# If-else,elif

In [25]:
n=int(input())
if n<0:
    print("Nagetive value")
elif n==0:
    print("It\'s  Zero value")
else:
    print("It\'s positive number")

 5

It's positive number

In [26]:
weather=input()
if weather=="Rainny":
    print("Don\'t go outside")
elif weather=="sunny":
    print("let\'s play cricket")
else:
    print("Go for shoping")

 sunny

let's play cricket

# Loops
- whileloop
- forloop

In [30]:
n=int(input())
i=1
while i<=n:
    print("Step %d"%(i))
    i+=1
print("Loop finised")

 10

Step 1
Step 2
Step 3
Step 4
Step 5
Step 6
Step 7
Step 8
Step 9
Step 10
Loop finised

In [35]:
for x in range(1,10):
    print(x,end=" ")

1 2 3 4 5 6 7 8 9

In [66]:
#  Find factorail of a number by using while loop
num=int(input())
fact=1
if num<=0:
    print("factorial of 1 is 1")
elif num==0:
    print("fcatorial of 0 is 1")
else:
    while fact>0:
        fact=fact*num
        num=num-1
        print(fact)
print("finised loop")

 5

5
20
60
120
120
0
finised loop

In [63]:
#find factorail of a number by using for loop
n=int(input())
fact=1
for i in range(1,n+1):
    fact=fact*i
print(fact)

 5

120

In [68]:
# reverse loop
for i in range(10,1,-2):
    print(i,end=" ")

10 8 6 4 2

In [71]:
# 5*5 matrix
n=int(input())
for x in range(n):
    for y in  range(n):
        print(max(x+1,y+1,n-x,n-y),end=" ")
    print()

 5

5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5
5 5 5 5 5

# Break ,Continue and Pass Statement

In [72]:
for i in range(1,10):
    pass

In [79]:
for i in range(1,10):
    if i==5:
        print(i*i)
    print(i,end=" ")

1 2 3 4 25
5 6 7 8 9

In [86]:
for x in range(1,10):
    if x==6:
        continue
        print(x)
    print(x,end=" ")

1 2 3 4 5 7 8 9

In [87]:
for y in range(1,10):
    if y==7:
        continue
        print(y)
    print(y,end=" ")

1 2 3 4 5 6 8 9

In [94]:
# write a program which print all prime numbers upto N
n=int(input())
for x in range(2,n+1):
    if x%2!=0:
        print(x,end=" ")
    #print()

 100

3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

# Keyword argument

In [101]:
def myFunc(score,lang,rollno):
    print("I scored %d in %s and my rollnumber is %d "%(score,lang,rollno))
myFunc(lang="Python",rollno=1010,score=10)

I scored 10 in Python and my rollnumber is 1010

# String in BUiltin type

In [102]:
# string are not mutable
a="coding block"
print(a)

coding block

In [103]:
print(a[2])

d

In [105]:
print(a[-2])

c

In [106]:
print(len(a))

12

In [108]:
a="code blocks"
print(a)

code blocks

In [111]:
for i in range(len(a)):
    print(a[i])

c
o
d
e

b
l
o
c
k
s

In [112]:
for c in a:
    print(c)

c
o
d
e

b
l
o
c
k
s

In [113]:
a="Mango"
b="Juice"
print(a+b)

MangoJuice

In [114]:
print(a*5)

MangoMangoMangoMangoMango

In [116]:
print(a[1:-2])

an

In [117]:
#membership operation--->Substring is present in bigger string 
'go' in a

True

In [119]:
x="coding blocks"
if 'code'not in x:
    print("Yes")
else:
    print("No")

Yes

In [122]:
#String formating
print("My fuvourite fruit is %s and it\'s  cost Rs. %d and it comes from %s"%("apple",100,"India"))

My fuvourite fruit is apple and it's  cost Rs. 100 and it comes from India

In [126]:
# Triple Quotes
para="""This is some 
paragraph 
written here"""
print(para)

This is some
paragraph
written here

# String: more inbuilt Function
- Split----> convert the words into list of words
- splitlines--->it converts the paragraph into lines
- lstrip--->remove the all leading space
- rstrip-->remove the all ending space

In [2]:
para=""" This is some
more paragraph
written here"""

In [3]:
print(para)

 This is some
more paragraph
written here

In [4]:
para.split()

['This', 'is', 'some', 'more', 'paragraph', 'written', 'here']

In [5]:
print(type(para))

<class 'str'>

In [8]:
print(para[7])

s

In [10]:
para.splitlines()

[' This is some', 'more paragraph', 'written here']

In [16]:
fruit="Mango"
fruit=fruit.upper()
fruit=fruit.lower()
print(fruit)
print(fruit)

mango
mango

In [20]:
shake="      Apple shake   "
print(len(shake))

20

In [22]:
shake= shake.lstrip()#remove the all leading space
print(shake)
print(len(shake))

Apple shake
14

In [24]:
shake=shake.rstrip()
print(shake)
print(len(shake))

Apple shake
11

In [27]:
shake2=shake.strip()  # strip is removed all the leading and trailing spaces
print(shake)
print(len(shake))

11

In [29]:
a="798549"
a.isdigit()  # it gives True if string is contain only numubers

True

In [33]:
b="MNo"
b.isalpha()  # if string contain only sting volue without spaces

True

In [41]:
c="MNo37"
b="  "
print(c.isalnum())  # it should contain only characters and numbers without having spaces
print(c.islower())
print(b.isspace())

True
False
True

# Some More string functions
- find Function 
- replace
- count function
- join function
- title function 
- capitalize function

In [44]:
a="I love having Apple Juice and i like to eat grean Apple"
print(a.find("Apple"))  # It'll find the first occurance form the leftside of the string
print(a.rfind("Apple")) # It'll find the string from the rightside  of the string And string is not present it'll give us -1

14
50

In [45]:
print(a.find("Apple",30,len(a)))   # 30 is starting point of the string and len(a) is ending pint of the string

50

In [48]:
print(a.index("Apple",30,len(a))) # Difference is find() return -1 and index() throws and exception

50

In [50]:
print(a.replace("Apple","mango")) # It's used to update the value suppose earl the priminister of India was some xyz and right now is some abc

I love having mango Juice and i like to eat grean mango

In [51]:
print(a.count("Apple")) # give the particulor string how many times is present

2

In [57]:
l="I love having the Apple juice and I like to eat green mango"
print(l.split())
print("_".join(l))  # Joint the particulor string in between give string

['I', 'love', 'having', 'the', 'Apple', 'juice', 'and', 'I', 'like', 'to', 'eat', 'green', 'mango']
I_ _l_o_v_e_ _h_a_v_i_n_g_ _t_h_e_ _A_p_p_l_e_ _j_u_i_c_e_ _a_n_d_ _I_ _l_i_k_e_ _t_o_ _e_a_t_ _g_r_e_e_n_ _m_a_n_g_o

In [59]:
b="-"
b=b.join(l)
print(b)

I- -l-o-v-e- -h-a-v-i-n-g- -t-h-e- -A-p-p-l-e- -j-u-i-c-e- -a-n-d- -I- -l-i-k-e- -t-o- -e-a-t- -g-r-e-e-n- -m-a-n-g-o

In [64]:
# capatilize 
s="coding Block"
print(s.capitalize()) # it'll capitalize only first character of the given string
print(s.title()) # it'll capitalize the all first character of the given string

Coding block
Coding Block

# DATA STRUCTURE IN PYTHON
- String
- List
- Tuple
- Dictionary
- Set

# List
- List is like array,Hetrogenous array

In [66]:
# Creating a list
myList=[1,2,3,4,"Helo world!"]
print(myList)
print(type(myList))

[1, 2, 3, 4, 'Helo world!']
<class 'list'>

In [67]:
# Anther way to create list
l2=list([1,2,8,6,5,"Hello safir"])
print(l2)
print(type(l2))

[1, 2, 8, 6, 5, 'Hello safir']
<class 'list'>

In [69]:
l3=list(l2)
l3
l3=l3+l2
print(l3)

[1, 2, 8, 6, 5, 'Hello safir', 1, 2, 8, 6, 5, 'Hello safir']

In [70]:
l3.extend(l2)
print(l3)

[1, 2, 8, 6, 5, 'Hello safir', 1, 2, 8, 6, 5, 'Hello safir', 1, 2, 8, 6, 5, 'Hello safir']

In [83]:
# one more way to create the list by using the for loop
# print list of square of numbers from 1 to 5
l4=[x*x for x in range(1,6)]
print(l4)

[1, 4, 9, 16, 25]

# List slicing

In [93]:
print(l4[:4])
print(l4[-3:])
print(l4[2:4])

[1, 4, 9, 16]
[9, 16, 25]
[9, 16]

# Insertion and deletion

# Insertion
- append()
- insert()

In [124]:
l=[1,2]
l.append(3)
l.append(l)# nestested array list ,array of array or list of list
l.append([4,5,6,7,8])
l+=[10,11,12]
print(l)

[1, 2, 3, [...], [4, 5, 6, 7, 8], 10, 11, 12]

In [125]:
print(l[4][3])

7

# Deletion

In [126]:
# Remove-----> Remove is delete the value on the basic of value (element based)
l.remove(2)

In [127]:
print(l)

[1, 3, [...], [4, 5, 6, 7, 8], 10, 11, 12]

In [129]:
#del l[4]  # del used to delete the value on the basic of index values
#print(l)
del l[3][2]
print(l)

[1, 3, [...], [4, 5, 7, 8], 11, 12]

In [119]:
del l[3]
print(l)

[1, 3, [...], 11, 12]

# Pop

In [130]:
# pop is used to delete the element from the last elment of the list
l.pop()
print(l)

[1, 3, [...], [4, 5, 7, 8], 11]

In [134]:
l=list([1,2,3])
print(l*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [135]:
l=["Apple","Mango","Babana",100]
"Mango" in l

True

In [139]:
for i in range(len(l)):
    print(l[i],end=" ")

Apple Mango Babana 100

In [140]:
for x in l:
    print(x)

Apple
Mango
Babana
100

# Insert method

In [145]:
l=list([2,4,5,6])
#print(l)

In [146]:
l.insert(1,3)
print(l)

[2, 3, 4, 5, 6]

# More Functions on lists
- Searching & Soorting over the list

In [152]:
l=[1,7,4,8,12,10]
print(max(l))
print(min(l))
print(l.index(12))  # linaer search

12
1
4

# Sorted--->It's return the copy of list but not the original list

In [153]:
sorted(l)

[1, 4, 7, 8, 10, 12]

In [154]:
print(l)

[1, 7, 4, 8, 12, 10]

In [155]:
# for original list 
l=sorted(l)
print(l)

[1, 4, 7, 8, 10, 12]

In [156]:
# Anther way to sort the list
l=[5,4,1,3,2]
l.sort()
print(l)

[1, 2, 3, 4, 5]

In [157]:
l.sort(reverse=True)
print(l)

[5, 4, 3, 2, 1]

## Read a list of number from user

In [165]:
numbers=[int(number)*int(number) for number in input().split()]
print(numbers)
print(type(numbers))

 1 2 3 4 5

[1, 4, 9, 16, 25]
<class 'list'>

# DICTIONARY
- Stored info in key value pair
-lookup value of any key and key should be unique
- key value are not stored in any order
- it's like hashmapps

In [167]:
d={}
print(type(d))

<class 'dict'>

In [186]:
d={"Apple":100,"Mango":80}
print(d["Apple"])  # lookup method
d["Guava"]=60 #to insert the new key-value
print(d)
d["Grapes"]=[60,70]  # having two different prices
print(d)
print(d["Grapes"])
print(d)
d["Pineapple"]={"Small":90,"Large":120} # pineapple is having two different variety
print(d)
print(d["Pineapple"])
print(d["Pineapple"]["Large"])

100
{'Apple': 100, 'Mango': 80, 'Guava': 60}
{'Apple': 100, 'Mango': 80, 'Guava': 60, 'Grapes': [60, 70]}
[60, 70]
{'Apple': 100, 'Mango': 80, 'Guava': 60, 'Grapes': [60, 70]}
{'Apple': 100, 'Mango': 80, 'Guava': 60, 'Grapes': [60, 70], 'Pineapple': {'Small': 90, 'Large': 120}}
{'Small': 90, 'Large': 120}
120

# print all key

In [187]:
print(d.keys())

dict_keys(['Apple', 'Mango', 'Guava', 'Grapes', 'Pineapple'])

# print all value of keys

In [188]:
print(d.values())

dict_values([100, 80, 60, [60, 70], {'Small': 90, 'Large': 120}])

# Some common  methods and operation
- get()----> get a vlue for given key
- items()--->Gives the list of tuples
- keys()---->find the all keys having in dict
- values()---->find the all values of the keys in dict
- clear()----> clear all the dictionary
- update()--->merging of two dictionaries
- in & not in---> using iterate method to find the value
- del----> del is used to delete the value of particulor string 
- len()----->find how many key-pair values are there

In [191]:
print(type(d.get("Mangos")))

<class 'NoneType'>

In [192]:
print(d.get("Apple"))

100

In [196]:
# checking for particulor mango is exixt in dict or no
if "Mango" in d:
    print("The price of mango is %d"%(d["Mango"]))
else:
    print("Key is not existing")

The price of mango is 80

In [198]:
print(d.items()) # return lidt of tuples

dict_items([('Apple', 100), ('Mango', 80), ('Guava', 60), ('Grapes', [60, 70]), ('Pineapple', {'Small': 90, 'Large': 120})])

In [199]:
print(list(d.items()))

[('Apple', 100), ('Mango', 80), ('Guava', 60), ('Grapes', [60, 70]), ('Pineapple', {'Small': 90, 'Large': 120})]

In [200]:
# delete the pineapple key
del d["Pineapple"]
print(d)

{'Apple': 100, 'Mango': 80, 'Guava': 60, 'Grapes': [60, 70]}

In [202]:
d2={"Strawbarry":150}
d.update(d2)
print(d)

{'Apple': 100, 'Mango': 80, 'Guava': 60, 'Grapes': [60, 70], 'Strawbarry': 150}

In [204]:
print(len(d))   # how many key-pair value are there

5

In [205]:
d.clear()
print(d)

{}

# Convert the Dict into List--->By using the items()  method
# Conert the list into Dict---by using the zip

In [208]:
l1=["Apple","Papaya","Guava","Banana"]
l2=[100,50,60,70]
pdict(zip(l1,l2)))
print(type(dict(zip(l2,l1))))

{'Apple': 100, 'Papaya': 50, 'Guava': 60, 'Banana': 70}
<class 'dict'>

# TUPLES
- collection of items and holds multiple objects
- it's similar to list
- immutable type
- commo seperated values with ( )
- # Why tuples
- tuple is faster than list
- safe " write protected  " code
- return mutiple values from function
- Assert data is CANSTANT

In [1]:
t=(1,2,3,"Hello safir")
print(t)

(1, 2, 3, 'Hello safir')

In [2]:
print(t[2])

3

In [7]:
#t[0]=5
#print(t[0])  ------>it means tuples are immmutable

# Convert the tuple into list

In [8]:
l=list(t)
print(l)

[1, 2, 3, 'Hello safir']

In [9]:
l[3]=4
print(l)

[1, 2, 3, 4]

In [10]:
t2=tuple(l)
print(t2)

(1, 2, 3, 4)

In [11]:
# concatination of tuple 
print(t2+t)

(1, 2, 3, 4, 1, 2, 3, 'Hello safir')

In [12]:
# repeatation of tuple

 print(t*2)

(1, 2, 3, 'Hello safir', 1, 2, 3, 'Hello safir')

In [13]:
print(len(t2))

4

print(

In [15]:
print(max(t))

TypeError: '>' not supported between instances of 'str' and 'int'

In [17]:
print(max(t2))

4

In [18]:
del t
print(t)

NameError: name 't' is not defined

# SET DATA STRUCTRE
- unordered
- unique element
- add 
- union 
- difference
- intersection
- in (MEmbership operation)
- ^ (One of the set)
- < (subset checks)

In [22]:
# creating the a set
s1=set([1,2,5,2,8,5,3,2,1,5,6])
print(s)
print(type(s))

{1, 2, 3, 5, 6, 8}
<class 'set'>

In [23]:
# anther way to create the set
s2={5,6,7,10,21,1,11,2,3,23,12}
print(s)

{1, 2, 3, 5, 6, 8}

In [24]:
s2.add(20)
print(s2)

{1, 2, 3, 5, 6, 7, 10, 11, 12, 20, 21, 23}

In [25]:
print(s1 | s2)   # OR method

{1, 2, 3, 5, 6, 7, 8, 10, 11, 12, 20, 21, 23}

In [27]:
print(s1&s2)  # AND method

{1, 2, 3, 5, 6}

In [30]:
s1.intersection(s2)
print(s1)

{1, 2, 3, 5, 6, 8}

In [32]:
#print(s1-s2)
# or 
s1.difference(s2)
print(s1)

{1, 2, 3, 5, 6, 8}

In [33]:
if 4 in s1:
    print("Yes")
else:
    print("Not")

Not

In [34]:
# EXOR operation
s1^s2

{7, 8, 10, 11, 12, 20, 21, 23}

In [35]:
# EXOR will give those element which are only one of the set
a1={1,2,3,4}
a2={2,3,4,5,6}
print(a1^a2)

{1, 5, 6}

In [ ]:
# FUNCTION---->used to reuse our code
-

In [ ]:
# print sheldon knock
print("Knock knock knock safir")
print("Knock knock knock safir")
print("Knock knock knock safir")

In [37]:
def sheldon_knock():
    print("Knock knock knock safir")
    print("Knock knock knock safir")
    print("Knock knock knock safir")

In [38]:
sheldon_knock()
print(10+20)
for i in range(10):
    print(i)
sheldon_knock()

Knock knock knock safir
Knock knock knock safir
Knock knock knock safir
30
0
1
2
3
4
5
6
7
8
9
Knock knock knock safir
Knock knock knock safir
Knock knock knock safir

# Functions cn take the parameter

In [44]:
def sheldon_knock(name,number_of_times):
    for i in range(number_of_times):
        print("knock knock knock %s "%(name))
sheldon_knock("penny",5)

knock knock knock penny
knock knock knock penny
knock knock knock penny
knock knock knock penny
knock knock knock penny

# Return Statement

In [46]:
def add(a,b):
    s=a+b
    print(10+20)
    return s
x=add(1,2)
print(x)

30
3

In [50]:
def div(a,b):
    try:
        return a/b
    except:
        print("Error")
    finally:
        print("Wrapped up")
div(10,0)

Error
Wrapped up

In [51]:
def div(x,y):
    try:
        return x/y
    except:
        print("Error")
    finally:
        print("Wrapped up")
div(20,3)

Wrapped up

6.666666666666667

In [58]:
x="global_var"
def show():
    y="Local_var"
    # global y
    print(y)
    print(x)
show()
print(x)
#print(y)

Local_var
global_var
global_var

In [67]:
x=10
def show1():
    global x
    x+=5
    print(x)
show()
print(x)
del x

Local_var
10
10

In [70]:
# Encloser method
def outter():
    x=15
    #print(x)
    
    def inner():
        nonlocal x
        x+=5
        print(x)
    inner()
    print(x)
    
outter()
#print(x)

20
20

# Keyword argument
- first give the positional argument tht are also required arg and the following give the default value

# Sys Module

In [71]:
import sys
def printData():
    print(sys.argv)
printData()

['C:\\Users\\user\\Anaconda3\\lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\user\\AppData\\Roaming\\jupyter\\runtime\\kernel-cf53f675-0389-4e00-8a93-0c8397f209b3.json']

In [75]:
#add two number
def printsum():
    print(int(sys.argv[1])+int(sys.argv[2]))
printsum()

ValueError: invalid literal for int() with base 10: '-f'

In [76]:
print(sys.version)

3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]

In [77]:
print(sys.path)

['C:\\Users\\user\\Desktop\\DSlcet1\\lecture_2', 'C:\\Users\\user\\Anaconda3\\python37.zip', 'C:\\Users\\user\\Anaconda3\\DLLs', 'C:\\Users\\user\\Anaconda3\\lib', 'C:\\Users\\user\\Anaconda3', '', 'C:\\Users\\user\\Anaconda3\\lib\\site-packages', 'C:\\Users\\user\\Anaconda3\\lib\\site-packages\\win32', 'C:\\Users\\user\\Anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\Users\\user\\Anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\Users\\user\\Anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\user\\.ipython']

# creating our module